@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/pagination";
@import 'swiper/css/navigation';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply  tracking-wide
     /* bg-[#000000] text-[#ecf0f3] */
    /* bg-[#ecf0f3] text-[#1f2937] */
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  p{
    @apply tracking-normal
  }


}


/* Modify Swiper JS */
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
